.main-container {
  display: flex;
  height: 100vh;
  gap: 1rem;
  padding: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.main-container.dark {
  background-color: #1a1a1a;
  color: #ffffff;
  app-panel {
    panel {
      background-color: blue !important;
    }
  }
}

app-panel {
  flex: 0 0 80px;
}

app-writing-area {
  flex: 1;
}