<div class="panel-container">
  <div class="panel" [ngClass]="{'dark': isDarkMode}">
    @for (item of icons; track item.name) {
      <button 
        class="icon-button" 
        (click)="onIconClick(item.name)"
        [attr.aria-label]="item.msg"
        [title]="item.msg"
      >
        {{ item.icon }}
      </button>
    }
  </div>
  <app-countdown [hidden]="!isCountDownVisible"
    [isDarkMode]="isDarkMode" 
    (stopDialogChange)="onStopDialogChange(true)" 
    class="countdown-wrapper"
  ></app-countdown>
  @if (isFloatingMessageVisible) {
    <div class="floating-message" [ngClass]="{'dark': isDarkMode}">
      Time up and good job!
    </div>
  }
</div>